* {
  text-align: center;
}

body {
  padding: 100px;
  background-color: #d77166;
}
.js-input {
  border: 5px solid #bf4538;
  border-radius: 14px;
  line-height: 1.5;
  width: 600px;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

.js-input::placeholder {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 2px;
}

.form {
  list-style-type: none;
}

.js-list > li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding: 10px;
}

.languages-item {
  font-family: monospace;
  font-size: 20px;
  font-weight: 700;
  padding: 0px;
  margin: 5px;
}

.languages-item:nth-child(1) {
  margin-top: 10px;
}

.text-item {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 800;
}

.js-country-content {
  display: inline-flex;
}

.country-info {
  margin-right: 50px;
}
